<a href="https://colab.research.google.com/github/Aliahmadjangohar/Aliahmadjangohar/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Introduction
Welcome to this notebook! In this notebook, we will explore various exercises related to data science and programming.

### Data Science Languages
- Python
- R
- SQL

### Data Science Libraries
- Pandas
- NumPy
- Matplotlib

### Data Science Tools Table

| Tool        | Description                 |
|-------------|-----------------------------|
| Jupyter     | Interactive notebooks       |
| TensorFlow  | Deep learning framework     |
| Scikit-learn| Machine learning library    |

## Introduction to Arithmetic Expressions
Arithmetic expressions involve mathematical operations such as addition, subtraction, multiplication, and division.

In [1]:
# Multiply and add numbers
a = 5
b = 3
multiply_result = a * b
add_result = a + b
print("Multiplication result:", multiply_result)
print("Addition result:", add_result)

Multiplication result: 15
Addition result: 8

In [2]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print("Hours:", hours)

Hours: 2.0

## Author
This notebook was created by [Ali Ahmad Jan].